[Unit]
Description=Unregister RHEL before shutdown
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/bin/shutdown-unregister-rhel.sh
TimeoutStartSec=0

[Install]
WantedBy=shutdown.target
